{{ define "blank-modal" }}
{{ $containerID := uniq }}
{{ $buttonContainerID := uniq }}
<div id="{{.ID}}" class="hidden relative z-40" aria-labelledby="modal-title" role="dialog" aria-modal="true" tabindex="-1">
  <div aria-label="Close modal" data-modalcloser="{{.ID}}" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity">
  </div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-center justify-center p-4 sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white shadow-xl transition-all sm:my-8 w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">

            {{ if .Icon }}
            <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10">
              <div class="h-6 w-6">
                {{ heroIcon (print "outline/" .Icon) }}
              </div>
            </div>
            {{ end }}
            <div class="w-full mt-3 sm:mt-0 sm:text-left flex flex-col gap-4">
              {{ if .Title }}
              <h3 class="text-lg text-center leading-6 font-medium text-gray-900" id="modal-headline">
                {{.Title}}
              </h3>
              {{ end }}
              {{ if .Text }}
              <p class="text-sm text-center text-gray-500">
              {{ .Text }}
              </p>
              {{ end }}
              <div id="{{$containerID}}" class="mt-2">
                <div class="w-full contents">
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ if not .Buttons }}
        <div id="{{$buttonContainerID}}" class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button data-modalcloser="{{.ID}}" type="button" class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
            Close
          </button>
        </div>
        {{ else }}
        <div id="{{$buttonContainerID}}">
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<script>
  (function() {
    const self = document.getElementById('{{.ID}}');
    {{ if not .NoRelocate }}
    document.body.appendChild(self);
    {{ end }}

    self.addEventListener('hide', function() {
      self.classList.add('hidden')
    });

    self.addEventListener('show', function() {
      self.classList.remove('hidden');
      let keylistener = document.addEventListener('keydown', (e) => {
        if (e.key == 'Escape') {
          self.dispatchEvent(new CustomEvent('hide'));
        }
      });
      let remover = self.addEventListener('hide', function() {
        document.removeEventListener('keydown', keylistener);
        self.removeEventListener('hide', remover);
      });
    });

    const triggers = document.querySelectorAll('*[data-modaltrigger="{{.ID}}"]')
    Array.prototype.filter.call(triggers, function(el) {
      el.addEventListener('click', function() {
        self.dispatchEvent(new CustomEvent('show'));
      });
    });
    const closers = document.querySelectorAll('*[data-modalcloser="{{.ID}}"]')
    Array.prototype.filter.call(closers, function(el) {
      el.addEventListener('click', function() {
        self.dispatchEvent(new CustomEvent('hide'));
      });
    });

    {{ if .Contents }}
    const container = document.getElementById('{{$containerID}}');
    const contents = document.getElementById('{{.Contents}}');
    container.querySelector('.contents').appendChild(contents);
    {{ end }}
    {{ if .Buttons }}
    const buttonContainer = document.getElementById('{{$buttonContainerID}}');
    const buttons = document.getElementById('{{.Buttons}}');
    buttonContainer.appendChild(buttons);
    {{ end }}
  })();
</script>
{{ end }}
