{{ define "confirm_modal" }}

{{ if false }}
<!-- Dummy for tailwind compilers -->
<span class="bg-red-100 bg-red-600 hover:bg-red-700 focus:ring-red-500"></span>
<span class="bg-orange-100 bg-orange-600 hover:bg-orange-700 focus:ring-orange-500"></span>
<span class="bg-green-100 bg-green-600 hover:bg-green-700 focus:ring-green-500"></span>
<span class="bg-gray-100 bg-gray-600 hover:bg-gray-700 focus:ring-gray-500"></span>
{{ end }}

{{ $color := "red" }}
{{ $icon := "outline/exclamation-circle" }}

{{ if .Level }}
{{ if eq .Level "warn" }}
{{ $color = "orange" }}
{{ $icon = "outline/exclamation-triangle" }}
{{ else if eq .Level "success" }}
{{ $color = "green" }}
{{ $icon = "outline/check-circle" }}
{{ else if eq .Level "info" }}
{{ $color = "gray" }}
{{ $icon = "outline/information-circle" }}
{{ end }}
{{ end }}

{{ if .Icon }}
{{ $icon = .Icon }}
{{ end }}

{{$modalContentsID := uniq }}

<div class="hidden">
  <div id="{{$modalContentsID}}" class="bg-gray-50 py-2 px-4 mt-5 flex flex-col sm:flex-row gap-2">
    <button data-modalcloser="{{.ID}}" type="button" class="flex-grow inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
      Close
    </button>
    <button type="submit" {{ if .Form }}form="{{.Form}}"{{ end }} class="flex-grow w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-{{$color}}-600 text-base font-medium text-white hover:bg-{{$color}}-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-{{$color}}-500 sm:w-auto sm:text-sm">
      {{.ButtonText}}
    </button>
  </div>
</div>
{{ template "blank-modal" dict "Buttons" $modalContentsID "ID" .ID "Title" .Title "Text" .Text "NoRelocate" (not .Relocate) }}

{{ end }}
