{{ define "feature_help" }}
{{ $modalid := uniq }}

{{ $size := .Size }}
{{ if not $size }}
{{ $size = "6" }}
{{ end }}

<button
    type="button"
    data-modaltrigger="{{$modalid}}"
    class="w-{{$size}} h-{{$size}} inline-flex items-center border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    title="Feature help: {{.Title}}">
  {{ template "heroicons/mini/question-mark-circle" dict "Classes" (print "h-" $size " w-" $size) }}
</button>

{{ template "blank-modal" dict "Icon" "question-mark-circle" "Title" .Title "Text" .Text "ID" $modalid }}

{{ end }}
