{{ define "input" }}

{{ $value := .Value }}
{{ if .Value }}
{{ if eq .Type "date" }}
{{ $value = dateonly .Value }}
{{ else if eq .Type "datetime-local" }}
{{ $value = isoTime .Value }}
{{ else if eq .Type "time" }}
{{ $value = timeonly .Value }}
{{ end }}
{{ end }}

{{ $id := uniq }}
<div class="flex flex-col {{ if or .HelpText (and .Label (not .HideLabel)) }}gap-2{{ end }}">
  {{ if or .Label .HelpText }}
  <div class="flex gap-1">

  {{ if .Label }}
  <label
      for="{{$id}}"
      class="block text-sm font-medium text-gray-700 {{if .HideLabel}}sr-only{{end}}">
    {{.Label}}
  </label>
  {{ end }}
  {{ if .HelpText }}
  {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
  {{ end }}

  </div>
  {{ end }}
  <div class="">
    <input
        id="{{$id}}"
        name="{{.Name}}"
        type="{{.Type}}"
        {{if .Step}}step="{{.Step}}"{{end}}
        {{if .Min}}min="{{.Min}}"{{end}}
        {{if .Max}}max="{{.Max}}"{{end}}
        {{if .Required}}required{{end}}
        {{if .Disabled}}disabled{{end}}
        {{if .Placeholder}}placeholder="{{.Placeholder}}"{{end}}
        value="{{$value}}"
        {{if .Autocomplete}}autocomplete="{{.Autocomplete}}"{{else}}autocomplete="off"{{end}}
        class="text-md font-medium text-gray-900 {{if .Disabled}}bg-gray-100{{end}} block w-full shadow-sm py-2 px-3 placeholder:font-light placeholder-gray-500 focus:ring-blue-500 focus:border-blue-500 border-gray-300 invalid:border-red-600 rounded-md">
  </div>
</div>
{{ end }}
