{{ define "input" }}

{{ $value := .Value }}
{{ if .Value }}
{{ if eq .Type "date" }}
{{ $value = dateonly .Value }}
{{ else if eq .Type "datetime-local" }}
{{ $value = (.Value.Format "2006-01-02T15:04") }}
{{ else if eq .Type "time" }}
{{ $value = timeonly .Value }}
{{ end }}
{{ end }}

{{ $id := uniq }}
<div class="flex flex-col {{ if or .HelpText (and .Label (not .HideLabel)) }}gap-2{{ end }}">
  {{ if or .Label .HelpText }}
  <div class="flex gap-1">

  {{ if .Label }}
  <label
      for="{{$id}}"
      class="block text-sm font-medium text-gray-700 {{if .HideLabel}}sr-only{{end}}">
    {{.Label}}
  </label>
  {{ end }}
  {{ if .HelpText }}
  {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
  {{ end }}

  </div>
  {{ end }}
  <div class="">
    <input
        id="{{$id}}"
        name="{{.Name}}"
        type="{{.Type}}"
        {{if .Autofocus}}autofocus{{end}}
        {{if .Form}}form="{{.Form}}"{{end}}
        {{if .Step}}step="{{.Step}}"{{end}}
        {{if (or .Min (eq .Min 0))}}min="{{.Min}}"{{end}}
        {{if .Max}}max="{{.Max}}"{{end}}
        {{if .MaxLength}}maxlength="{{.MaxLength}}"{{end}}
        {{if .Required}}required{{end}}
        {{if .Disabled}}disabled{{end}}
        {{if .Placeholder}}placeholder="{{.Placeholder}}"{{end}}
        data-visited="false"
        value="{{$value}}"
        {{if .Autocomplete}}autocomplete="{{.Autocomplete}}"{{else}}autocomplete="off"{{end}}
        class="text-md font-medium text-gray-900 {{if .Disabled}}bg-gray-100{{end}} block w-full shadow-sm py-2 px-3 placeholder:font-light placeholder-gray-500 focus:ring-blue-500 focus:border-blue-500 border-gray-300 data-[visited=true]:invalid:border-red-600 data-[visited=true]:focus:invalid:border-gray-300 rounded-md">
    <script>
      (function() {
        const input = document.currentScript.parentElement.querySelector('input');
        input.addEventListener('focusout', function() {
          input.dataset.visited = true;
        }, {once: true});
      })();
    </script>
  </div>
</div>
{{ end }}
