{{ define "list" }}
{{ block "list-filter" . }}
<div class="border-b border-b-gray-200 flex flex-row-reverse gap-2 justify-between pb-8">
  {{ $filterButtonID := uniq }}
  {{ $filterBoxID := uniq }}
  <div class="w-full" id="{{$filterBoxID}}">
    {{ template "filterbox" dict "Entity" .Entity "Context" .Context }}
  </div>
</div>
{{ end }}
<ul class="text-sm divide-y divide-gray-200">
  {{ block "list-empty" . }}
  {{ if eq (len .Entity.Data) 0 }}
  {{ template "list-item" dict "URI" (print "/" $.Entity.Searchable.Path "/create") "Label" "There's nothing here!" }}
  {{ end }}
  {{ end }}

  {{ block "list-items" . }}
  {{ range .Entity.Data }}
  {{ template "list-item" dict "URI" (print "/" $.Entity.Searchable.Path "/" .ID) "Label" .Label }}
  {{ end }}
  {{ end }}
</ul>
{{ template "pagination" .Entity }}

{{ block "list-create-button" . }}
{{ template "create_button" dict "Path" (print "/" .Entity.Searchable.Path "/create") "Text" (print "Create " .Entity.Searchable.EntityType) }}
{{ end }}
{{ end }}
