{{ define "markdown_box" }}
{{ if eq .Editable false }}

{{$id := selectorSafe (print .Name "-" uniq) }}
{{ if or .Label .HelpText }}
<div class="flex gap-1 justify-between items-center">
  {{ if .Label }}
  <label for="{{$id}}" class="mt-1 text-md text-gray-600">{{.Label}}</label>
  {{ end }}
  {{ if .HelpText }}
  {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
  {{ end }}
</div>
{{ end }}
<div class="prose text-md text-gray-600">{{markdown .Content}}</div>
<input type="hidden" name="{{.Name}}" id="{{$id}}" value="{{.Content}}">

{{ else }}

{{$id := selectorSafe (print "editable-" .Name "-" uniq) }}
{{ if or .Label .HelpText }}
<div class="flex gap-1 justify-between items-center">
  {{ if .Label }}
  <label for="{{$id}}" class="pb-2 text-sm font-medium text-gray-700">{{.Label}}</label>
  {{ end }}
  {{ if .HelpText }}
  {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
  {{ end }}
</div>
{{ end }}
<textarea {{ if .FormID }} form="{{.FormID}}" {{ end }} rows="{{if .Rows}}{{.Rows}}{{else}}4{{end}}" name="{{.Name}}" id="{{$id}}" class="markdown-editor p-2 focus:ring-blue-500 focus:border-blue-500 block w-full border-gray-300 rounded-md">{{.Content}}</textarea>

{{ if .RichInput }}
<!-- SimpleMDE -->
<link rel="stylesheet" href="/css/simplemde.min.css">
<script src="/js/simplemde.min.js"></script>

<script>
  (function() {
    let textarea = document.getElementById("{{$id}}");
    let instance = null;
    function teardown() {
      if (instance) {
        instance.toTextArea();
        instance = null;
      }
    };
    function setup() {
      teardown();
      instance = new SimpleMDE({
        initialValue: '{{.Content}}',
        element: textarea,
        forceSync: true,
        status: false,
        toolbar: ["bold", "italic", "link", "unordered-list", "ordered-list" ],
      });

      {{ if not .SwallowChangeEvent }}
      instance.codemirror.on('change', function(){
        let ev = new Event('change')

        if (textarea.form) {
          textarea.form.dispatchEvent(ev);
        }
      });
      {{ end }}

      let hiddenContainer = textarea.closest('.hidden');
      if (hiddenContainer) {
        const config = { attributes: true, childList: false, subtree: false };

        let refreshCodeMirror = function(mutationList, observer) {
          instance.codemirror.refresh()
        }

        const observer = new MutationObserver(refreshCodeMirror);
        observer.observe(hiddenContainer, config);
      }
    }
    document.addEventListener('DOMContentLoaded', setup , {once: true});
    textarea.addEventListener('hydrateMarkdown', setup );
    document.body.addEventListener('htmx:afterSettle', setup);
  })();
</script>
{{ end }}

{{ end }}
{{ end }}
