{{ define "markup_box" }}
{{$id := selectorSafe (print "editable-" .Name "-" uniq) }}

{{ if eq .Editable false }}

<label for="{{$id}}" class="text-sm">{{.Label}}</label>
<p id="{{$id}}" class="prose prose-sm">{{.Content}}</p>

{{ else }}

<script src="/js/medium-editor.js"></script>
<link rel="stylesheet" href="/css/medium-editor.min.css">
<link rel="stylesheet" href="/css/medium-editor-default-theme.min.css">

<label for="{{$id}}" class="text-sm">{{.Label}}</label>
<textarea rows="4" name="{{.Name}}" id="{{$id}}" class="p-4 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">{{.Content}}</textarea>
<script>
  (function() {
    new MediumEditor('#{{$id}}', {
      toolbar: {
        buttons: [ 'bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'orderedlist' ]
      },
      imageDragging: false,
    });
  })();
</script>

{{ end }}
{{ end }}
