{{ define "markdown_box" }}
{{ if eq .Editable false }}

{{$id := selectorSafe (print .Name "-" uniq) }}
{{ if .Label }}
<label for="{{$id}}" class="mt-1 text-md text-gray-600">{{.Label}}</label>
{{ end }}
<div class="prose text-md text-gray-600">{{markdown .Content}}</div>
<input type="hidden" name="{{.Name}}" id="{{$id}}" value="{{.Content}}">

{{ else }}

{{$id := selectorSafe (print "editable-" .Name "-" uniq) }}
<label for="{{$id}}" class="pb-2 text-sm font-medium text-gray-700">{{.Label}}</label>
<textarea {{ if .FormID }} form="{{.FormID}}" {{ end }} rows="4" name="{{.Name}}" id="{{$id}}" class="p-2 focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md">{{.Content}}</textarea>

{{ if .RichInput }}
<!-- SimpleMDE -->
<link rel="stylesheet" href="/css/simplemde.min.css">
<script src="/js/simplemde.min.js"></script>

<script>
  (function() {
    let textarea = document.getElementById("{{$id}}");
    function setup() {
      let simplemde = new SimpleMDE({
        initialValue: '{{.Content}}',
        element: textarea,
        forceSync: true,
        status: false,
        toolbar: ["bold", "italic", "link", "unordered-list", "ordered-list" ],
      });

      {{ if not .SwallowChangeEvent }}
      simplemde.codemirror.on('change', function(){
        let ev = new Event('change')

        let orig = document.getElementById('{{$id}}');
        if (orig.form) {
          orig.form.dispatchEvent(ev);
        }
      });
      {{ end }}

      let parentModal = orig.closest('div[hidden]');
      if (parentModal) {
        const config = { attributes: true, childList: false, subtree: false };

        let refreshCodeMirror = function(mutationList, observer) {
          simplemde.codemirror.refresh()
        }

        const observer = new MutationObserver(refreshCodeMirror);
        observer.observe(parentModal, config);
      }
    }
    document.addEventListener('DOMContentLoaded', setup , {once: true});
    textarea.addEventListener('hydrateMarkdown', setup );
  })();
</script>
{{ end }}

{{ end }}
{{ end }}
