{{ define "searchbox" }}
{{ $searchBoxID := uniq }}
<form {{ if .ID }}id="{{.ID}}"{{ end }} class="mt-1 print:hidden w-full flex" action="/search" method="GET">
  <label for="{{$searchBoxID}}" class="sr-only">Search</label>
  <div class="relative w-full">
    <div class="absolute mt-2 left-5 flex items-center pointer-events-none">
      {{ template "heroicons/outline/magnifying-glass" dict "Class" "h-5 w-5" }}
    </div>
    {{ $label := "Search Everything" }}
    {{ if .EntityFilter }}
    {{ $label = print "Search " .EntityFilter.EntityType }}
    <input name="entity-filter" type="hidden" value="{{.EntityFilter.Tablename}}">
    {{ end }}
    <input autocomplete="off" id="{{$searchBoxID}}" name="search_field" class="pl-16 block w-full border-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm" value="{{.Phrase}}" placeholder="{{$label}}" type="search">
    <!-- sm:pl-24 py-2 pl-8 -->
  </div>
</form>
{{ end }}
