{{ define "start_end_date" }}
<div class="w-full flex flex-col md:grid grid-cols-3 gap-2">
  {{ if .Label }}
  <div class="mx-auto sm:mx-0 font-gray-700 flex flex-col justify-center">
    {{ .Label }}
  </div>
  {{ end }}
  <div class="flex gap-1 w-full md:w-fit justify-between">
    <button
        type="button"
        class="sm:hidden rounded-r-md w-full max-w-[4rem] min-w-6 h-12 pl-1 border border-transparent shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        title="Previous Period">
      {{ heroIcon "outline/chevron-left" }}
      <script>
        (function() {
          const button = document.currentScript.parentNode;
          button.addEventListener('click', function() {
            button.form.querySelector('input[name="start"]').value = '{{dateonly .Period.Prev.Start}}';
            button.form.querySelector('input[name="end"]').value = '{{dateonly .Period.Prev.End}}';
            button.form.requestSubmit();
          });
        })();
      </script>
    </button>
    <label>
      <span class="sr-only">From</span>
      <input class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" autocomplete="off" type="date" name="{{.Prefix}}start" value="{{.Period.Start.Format "2006-01-02"}}">
    </label>
    <label>
      <span class="sr-only">To</span>
      <input class="block w-full shadow-sm py-3 px-4 placeholder-gray-500 focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md" autocomplete="off" type="date" name="{{.Prefix}}end" value="{{.Period.End.Format "2006-01-02"}}">
    </label>
    <button
        type="button"
        class="sm:hidden rounded-l-md w-full max-w-[4rem] min-w-6 h-12 pr-1 border border-transparent shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        title="Next Period">
      <span class="float-right">
      {{ heroIcon "outline/chevron-right" }}
      <script>
        (function() {
          const button = document.currentScript.parentNode;
          button.addEventListener('click', function() {
            button.form.querySelector('input[name="start"]').value = '{{dateonly .Period.Next.Start}}';
            button.form.querySelector('input[name="end"]').value = '{{dateonly .Period.Next.End}}';
            button.form.requestSubmit();
          });
        })();
      </script>
      </span>
    </button>
    <div class="hidden sm:flex pl-4 divide divide-gray-700 divide-x-2">
      <button
          type="button"
          class="rounded-l-md w-12 h-12 pl-3 border border-transparent shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          title="Previous Period">
        {{ heroIcon "outline/chevron-left" }}
        <script>
          (function() {
            const button = document.currentScript.parentNode;
            button.addEventListener('click', function() {
              button.form.querySelector('input[name="start"]').value = '{{dateonly .Period.Prev.Start}}';
              button.form.querySelector('input[name="end"]').value = '{{dateonly .Period.Prev.End}}';
              button.form.requestSubmit();
            });
          })();
        </script>
      </button>
      <button
          type="button"
          class="rounded-r-md w-12 h-12 pl-3 border border-transparent shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          title="Next Period">
        {{ heroIcon "outline/chevron-right" }}
        <script>
          (function() {
            const button = document.currentScript.parentNode;
            button.addEventListener('click', function() {
              button.form.querySelector('input[name="start"]').value = '{{dateonly .Period.Next.Start}}';
              button.form.querySelector('input[name="end"]').value = '{{dateonly .Period.Next.End}}';
              button.form.requestSubmit();
            });
          })();
        </script>
      </button>
    </div>
  </div>
  {{ if not .NoAutoSubmit }}
  <script>
    (function(){
      function debounce(func, timeout){
        let timer;
        if (!timeout) {
          timeout = 300;
        }
        return (...args) => {
          clearTimeout(timer);
          timer = setTimeout(() => { func.apply(this, args); }, timeout);
        };
      }

      const container = document.currentScript.parentElement;
      const inputs = container.querySelectorAll('input')
      inputs.forEach(function(input) {
        input.addEventListener('change', debounce(function() {
          input.form.requestSubmit();
        }, 1000));
      });
    })()
  </script>
  {{ end }}
</div>
{{ end }}
