{{ define "toggle" }}
{{ $label := uniq }}
{{ $selectedClass := "bg-indigo-600" }}
{{ if .SelectedClass }}
{{ $selectedClass = .SelectedClass  }}
{{ end }}

{{ $labelText := .Label }}
{{ if (or .YesLabel .NoLabel) }}
{{ if .Selected }}
{{ $labelText = .YesLabel }}
{{ else }}
{{ $labelText = .NoLabel }}
{{ end }}
{{ end }}

<div data-togglerole="container" class="flex {{ if .Vertical }}flex-col{{ end }} gap-2 items-center justify-between">
  {{ if not .Right }}
  <span class="flex-grow flex gap-2">
    <span data-togglerole="label" id="{{$label}}" class="{{ if .Vertical }}text-center{{ end }} text-sm font-medium text-gray-900 {{if .HideLabel}}sr-only{{end}}">{{$labelText}}</span>
    <div data-notoggle="true">
      {{ if .HelpText }}
      {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
      {{ end }}
    </div>
    {{ if and (not .Vertical) (not .NoSpinner) }}
    <div class="ml-1 h-4">{{ template "spinny" }}</div>
    {{ end }}
  </span>
  {{ end }}
  <div class="relative h-6">
    <button
        aria-labelledby="{{$label}}"
        data-togglerole="outer"
        type="button"
        role="switch"
        aria-checked="false"
        class="{{ if .Selected }} {{$selectedClass}} {{ else }} bg-gray-200 {{ end }} relative inline-flex flex-shrink-0 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <span data-togglerole="inner"
            aria-hidden="true"
            class="{{ if .Selected }} translate-x-5 {{ else }} translate-x-0 {{ end }} pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200">
      </span>
    </button>
    {{ if .Disabled }}
    <div class="rounded-full absolute inset-0 bg-gray-600 bg-opacity-75">
    </div>
    {{ end }}
  </div>
  {{ if and (.Vertical) (not .NoSpinner) }}
  <div class="ml-1 h-4">{{ template "spinny" }}</div>
  {{ end }}
  {{ if .Right }}
  <span class="ml-3 flex-grow flex gap-2">
    <span data-togglerole="label" id="{{$label}}" class="text-sm font-medium text-gray-900 {{if .HideLabel}}sr-only{{end}}">{{$labelText}}</span>
    <div data-notoggle="true">
      {{ if .HelpText }}
      {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
      {{ end }}
    </div>
    {{ if not .NoSpinner }}
    <div class="ml-1 h-4">{{ template "spinny" }}</div>
    {{ end }}
  </span>
  {{ end }}
  <input autocomplete="off"
         class="hidden"
         hidden
         name="{{.Key}}"
         value="{{.Value}}"
         type="checkbox"
         {{ if .Selected }} checked {{ end }}
         {{ if .Disabled }} disabled {{ end }}
         {{ if .Form }} form="{{.Form}}" {{ end }}>

  {{ if not .Disabled }}
  <script>
    (function() {
      const container = document.currentScript.closest('div[data-togglerole="container"]');
      container.addEventListener('change', function(e) {
        const input = container.querySelector('input');

        const outer = container.querySelector('*[data-togglerole="outer"]');
        const inner = container.querySelector('*[data-togglerole="inner"]');

        if (input.checked) {
          {{ if (or .YesLabel .NoLabel) }}
          container.querySelector('*[data-togglerole="label"]').innerText = '{{.YesLabel}}';
          {{ end }}
          outer.classList.add("{{$selectedClass}}");
          outer.classList.remove("bg-gray-200");
          inner.classList.add("translate-x-5");
          inner.classList.remove("translate-x-0");
        } else {
          {{ if (or .YesLabel .NoLabel) }}
          container.querySelector('*[data-togglerole="label"]').innerText = '{{.NoLabel}}';
          {{ end }}
          outer.classList.remove("{{$selectedClass}}");
          outer.classList.add("bg-gray-200");
          inner.classList.remove("translate-x-5");
          inner.classList.add("translate-x-0");
        }

        {{ if .Anchor }}
        const elem = input.form.querySelector("[name=next_fragment]")
        if (elem) {
          elem.value = "{{.Anchor}}"
        }
        {{ end }}
        {{ if .AutoSubmit }}
        input.form.requestSubmit()
        {{ else }}
        input.dispatchEvent(new CustomEvent('change', {bubbles: true}));
        {{ end }}
      });
      container.addEventListener('click', function(e) {
        if (e.target.closest('*[data-notoggle="true"]')) {
          return
        } else {
          const input = container.querySelector('input');
          input.checked = !input.checked;
        }
      });
    })();
  </script>
  {{ end }}
</div>

{{ end }}
