{{ define "toggle" }}
{{ $container := uniq }}
{{ $outer := uniq }}
{{ $inner := uniq }}
{{ $input := uniq }}
{{ $label := uniq }}
{{ $selectedClass := "bg-indigo-600" }}
{{ if .SelectedClass }}
{{ $selectedClass = .SelectedClass  }}
{{ end }}

{{ $labelText := .Label }}
{{ if (or .YesLabel .NoLabel) }}
{{ if .Selected }}
{{ $labelText = .YesLabel }}
{{ else }}
{{ $labelText = .NoLabel }}
{{ end }}
{{ end }}

<div id="{{$container}}" class="flex {{ if .Vertical }}flex-col{{ end }} gap-2 items-center justify-between">
  {{ if not .Right }}
  <span class="flex-grow flex gap-2">
    <span id="{{$label}}" class="{{ if .Vertical }}text-center{{ end }} text-sm font-medium text-gray-900">{{$labelText}}</span>
    {{ if .HelpText }}
    {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
    {{ end }}
  </span>
  {{ end }}
  <div class="relative h-6">
    <button
        aria-labelledby="{{$label}}"
        id="{{$outer}}"
        type="button"
        role="switch"
        aria-checked="false"
        class="{{ if .Selected }} {{$selectedClass}} {{ else }} bg-gray-200 {{ end }} relative inline-flex flex-shrink-0 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <span id="{{$inner}}"
            aria-hidden="true"
            class="{{ if .Selected }} translate-x-5 {{ else }} translate-x-0 {{ end }} pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200">
      </span>
    </button>
    {{ if .Disabled }}
    <div class="rounded-full absolute inset-0 bg-gray-600 bg-opacity-75">
    </div>
    {{ end }}
  </div>
  {{ if .Right }}
  <span class="ml-3 flex-grow flex gap-2">
    <span id="{{$label}}" class="text-sm font-medium text-gray-900">{{$labelText}}</span>
    {{ if .HelpText }}
    {{ template "feature_help" dict "Title" .Label "Text" .HelpText }}
    {{ end }}
  </span>
  {{ end }}
  <input
      id="{{$input}}"
      autocomplete="off"
      class="hidden"
      hidden
      name="{{.Key}}"
      value="{{.Value}}"
      type="checkbox"
      {{ if .Selected }} checked {{ end }}
      {{ if .Disabled }} disabled {{ end }}
      {{ if .Form }} form="{{.Form}}" {{ end }}>

  <div class="ml-1 h-4" >
    {{ template "spinny" }}
  </div>

</div>

{{ if not .Disabled }}
<script>
  document.getElementById("{{$container}}").addEventListener("click", function(e) {
    const outer = document.getElementById("{{$outer}}")
    outer.classList.toggle("{{$selectedClass}}");
    outer.classList.toggle("bg-gray-200");
    const inner = document.getElementById("{{$inner}}")
    inner.classList.toggle("translate-x-5");
    inner.classList.toggle("translate-x-0");
    const input = document.getElementById("{{$input}}")
    input.checked = !input.checked;

    {{ if (or .YesLabel .NoLabel) }}
    let newLabel = ""
    if (input.checked) {
      newLabel = "{{.YesLabel}}"
    } else {
      newLabel = "{{.NoLabel}}"
    }
    document.getElementById('{{$label}}').innerText = newLabel;
    {{ end }}

    {{ if .Anchor }}
    const elem = input.form.querySelector("[name=next_fragment]")
    if (elem) {
      elem.value = "{{.Anchor}}"
    }
    {{ end }}
    {{ if .AutoSubmit }}
    input.form.requestSubmit()
    {{ else }}
    input.dispatchEvent(new CustomEvent('change', {bubbles: true}));
    {{ end }}
  });
</script>
{{ end }}
{{ end }}
