{{ define "toggle" }}
{{ $container := uniq }}
{{ $outer := uniq }}
{{ $inner := uniq }}
{{ $input := uniq }}
{{ $label := uniq }}
{{ $selectedClass := "bg-indigo-600" }}
{{ if .SelectedClass }}
{{ $selectedClass = .SelectedClass  }}
{{ end }}

{{ $label := .Label }}
{{ if (or .YesLabel .NoLabel) }}
{{ if .Selected }}
{{ $label = .YesLabel }}
{{ else }}
{{ $label = .NoLabel }}
{{ end }}
{{ end }}

{{ if .Right }}
<div id="{{$container}}" class="flex gap-1 items-center">
  <button
      aria-labelledby="{{$label}}"
      id="{{$outer}}"
      type="button"
      role="switch"
      aria-checked="false"
      class="{{ if .Selected }} {{$selectedClass}} {{ else }} bg-gray-200 {{ end }} relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <span id="{{$inner}}"
          aria-hidden="true"
          class="{{ if .Selected }} translate-x-5 {{ else }} translate-x-0 {{ end }} pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200">
    </span>
  </button>
  <span class="ml-3">
    <span id="{{$label}}" class="text-sm font-medium text-gray-900 {{if .HideLabel}}sr-only{{end}}">{{$label}}</span>
  </span>
  <input autocomplete="off" id="{{$input}}" class="hidden" hidden type="checkbox" name="{{.Key}}" value="{{.Value}}" {{ if .Selected }} checked {{ end }} {{ if .Form }} form="{{.Form}}" {{ end }}>
  {{ template "toggle_spinner" }}
</div>
{{ else }}
<div id="{{$container}}" class="flex {{ if .Vertical }}flex-col{{ end }} gap-1 items-center justify-between">
  <span class="flex-grow flex flex-col">
    <span id="{{$label}}" class="text-sm font-medium text-gray-900 {{if .HideLabel}}sr-only{{end}}">{{$label}}</span>
  </span>
  {{ template "toggle_spinner" }}
  <button
      id="{{$outer}}"
      type="button"
      class="{{ if .Selected }} {{$selectedClass}} {{ else }} bg-gray-200 {{ end }} relative inline-flex flex-shrink-0 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      role="switch"
      aria-checked="false"
      aria-labelledby="{{$label}}">
    <span id="{{$inner}}" aria-hidden="true" class=" {{ if .Selected }} translate-x-5 {{ else }} translate-x-0 {{ end }} pointer-events-none inline-block h-5 w-5 rounded-full bg-white shadow transform ring-0 transition ease-in-out duration-200">
    </span>
  </button>
  <input
      id="{{$input}}"
      autocomplete="off"
      class="hidden"
      hidden
      name="{{.Key}}"
      value="{{.Value}}"
      type="checkbox"
      {{ if .Selected }} checked {{ end }}
      {{ if .Form }} form="{{.Form}}" {{ end }}>
</div>
{{ end }}

<script>
  document.getElementById("{{$container}}").addEventListener("click", function(e) {
    const outer = document.getElementById("{{$outer}}")
    outer.classList.toggle("{{$selectedClass}}");
    outer.classList.toggle("bg-gray-200");
    const inner = document.getElementById("{{$inner}}")
    inner.classList.toggle("translate-x-5");
    inner.classList.toggle("translate-x-0");
    const input = document.getElementById("{{$input}}")
    input.checked = !input.checked;


    {{ if (or .YesLabel .NoLabel) }}
    let newLabel = ""
    if (input.checked) {
      newLabel = "{{.YesLabel}}"
    } else {
      newLabel = "{{.NoLabel}}"
    }
    document.getElementById('{{$label}}').innerText = newLabel;
    {{ end }}

    {{ if .Anchor }}
    const elem = input.form.querySelector("[name=next_fragment]")
    if (elem) {
      elem.value = "{{.Anchor}}"
    }
    {{ end }}
    {{ if .AutoSubmit }}
    input.form.requestSubmit()
    {{ else }}
    input.form.dispatchEvent(new CustomEvent('change'));
    {{ end }}
  });
</script>
{{ end }}

{{ define "toggle_spinner" }}
<div class="ml-1 h-4" >
  {{ template "spinny" }}
</div>
{{ end }}
